{
    "ConnectionStrings": {
        "CiemesusDb": "Data Source=#placeholder#;Initial Catalog=Ciemesus-db;User Id=CiemesusLogin;Password=Elon eats 1 beer and 2 zebras at the rover in Thailand;MultipleActiveResultSets=true;App=EntityFramework"
    },
    "IdentityServer": {
        "Authority": "#placeholder#",
        "ApiName": "Ciemesus.Api"
    }
}
